*, ::after, ::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --default-color: #222222;
    --heading-color: #172a28;
    --accent-color: #008374;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --background-color:#FFFFFF ;
}
body {
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.header {
    background-color: #008374;
    color: #FFF;
    transition: all 0.5s;
    z-index: 997;
   padding: 15px;
}
.topbar {
    background-color: color-mix(in srgb, var(--accent-color) 90%, black 10%);
padding: 10px;
position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: "font-family: Poppins, sans-serif;";
}

.header .branding {
    min-height: 60px;
    padding: 10px 0;
}
.header .logo {
    line-height: 1;
}
.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: #fff;
}
.social-links a{
    color: #ffffffc1; 
    text-decoration: none;
    /* opacity: 0.5; */
}

.social-links a:hover{
    color: #fff; 
}
.header .logo {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: #fff;
}
.nav-item .nav-link {
    color: #FFf !important;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    padding: 10px 20px
}

/*-------------------hero------------------ */
.hero {
    width: 100%;
    position: relative;
    padding: 140px 0 0 0;
    background-color: #008374;
    height: 650px;
}
.hero .btn-get-started {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    border: 2px solid ;
    
/* color-mix(in srgb, var(--default-color), transparent 90%); */
    background-color: #FFf 0.4;
    color: #FFF;
}
.bi-play-circle::before {
    content: "\f4f3";
}

.bi::before{
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
section, .section {
    color: var(--default-color);
    padding: 60px 0;
    scroll-margin-top: 112px;
    overflow: clip;
}
.hero .btn-watch-video i {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 32px;
    color: #FFF;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}
.colr{
   background-color: #008374;
   box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
   height: 300px;
   border-radius: 20px;
   position: relative;
   top: -14rem;
}
.colr:hover{
    background-color: color-mix(in srgb, var(--accent-color) 90%, black 10%); 
}
.icon-boxes {
    height: 200px;
}
/* @media screen and (max-width: 768px;min-width : ){
    
} */
.icon-box {
   /* position: absolute;
   top: 5rem; */
   
   max-width: 160px;
   margin: auto;
   padding-top: 5rem;
   color: #FFF;
}
.icon i{
    font-size: 4rem;
}
.stretched-link {
    font-weight: 700;
    line-height: 29px;
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
}

/* About us */



.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 4px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.about h3 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}
.about .fst-italic {
    color: 
color-mix(in srgb, var(--default-color), var(--contrast-color) 50%);
}
.about .content ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.about .content ul li {
    padding: 0 0 10px 30px;
    position: relative;
}
.bi-check-circle-fill::before {
    content: "\f26a" !important;
}
/* 
.bi::before{
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.about .content ul i {
    /* position: absolute; */
    font-size: 20px;
    left: -0.5rem;
    top: -3px;
    color: var(--accent-color);
}
.about .pulsating-play-btn {
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
}
.pulsating-play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(var(--accent-color) 50%, 
color-mix(in srgb, var(--accent-color), transparent 75%) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}
.pulsating-play-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/*----------------------state----------------------------- */
.stats .stats-item i {
    font-size: 44px;
    color: var(--accent-color);
    line-height: 0;
    margin-right: 15px;
}
.stats .stats-item .purecounter {
    color: var(--heading-color);
    font-size: 40px;
    display: block;
    font-weight: 700;
    line-height: 40px;
}
.stats .stats-item p {
    color: 
color-mix(in srgb, var(--default-color), transparent 40%);
    padding: 15px 0 0 0;
    margin: 0;
    font-size: 16px;
}


/*-----------------Call-to-action ---------------------- */
.call-to-action {
    background-color: transparent;
}
.call-to-action .container {
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    clip-path: inset(0 round 15px);
}
.call-to-action .container:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 2;
}
.call-to-action .container img {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
}

.call-to-action .container .content {
    position: relative;
    /* top: -54rem; */
    z-index: 3;
}
.call-to-action .play-btn {
    width: 94px;
    height: 94px;
    margin-bottom: 20px;
    background: radial-gradient(var(--accent-color) 50%, 
color-mix(in srgb, var(--accent-color), transparent 60%) 52%);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.call-to-action .play-btn:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid 
color-mix(in srgb, var(--accent-color), transparent 20%);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}
.call-to-action .play-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--default-color);
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.call-to-action h3 {
    color: var(--default-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.call-to-action .cta-btn {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid var(--contrast-color);
    color: var(--contrast-color);
}
.call-to-action h3 {
    color: var(--contrast-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.call-to-action p {
    color: var(--contrast-color);
    margin-bottom: 20px;
}

/* --------------------services------------------------------*/
.services .service-item {
    background-color: var(--surface-color);
    padding: 40px;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.position-relative {
    position: relative !important;
}
.services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}
.services .service-item .icon:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: 
color-mix(in srgb, var(--heading-color), transparent 95%);
    border-radius: 50px;
    z-index: 1;
    top: 10px;
    right: -20px;
    transition: 0.3s;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.services .service-item h3 {
    color: 
color-mix(in srgb, var(--heading-color), transparent 20%);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid 
color-mix(in srgb, var(--heading-color), transparent 90%);
    transition: 0.3s;
}
.services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.services .service-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: 
color-mix(in srgb, var(--default-color), transparent 30%);
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

/*----------------Testiimonial-----------------------------*/
/* .swiper-horizontal {
    touch-action: pan-y;
} */
/* .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
.testimonials .swiper-wrapper {
    height: auto;
} */

/* .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
} */

.swiper-backface-hidden .swiper-slide {
    /* transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
}
.swiper-slide {
    /* flex-shrink: 0;
    width: 30%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block; */
}
 .testimonial-item {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    padding: 16px;
    margin: 30px 15px;
    position: relative;
    height: 100%;
    width: 100%;
}
 .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50px;
    margin-right: 15px;
}
 .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
 .testimonial-item h4 {
    font-size: 14px;
    color: 
color-mix(in srgb, var(--default-color), transparent 40%);
    margin: 0;
}
 .testimonial-item .stars {
    margin: 10px 0;
}
 .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}
 .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
}
/* .bi-quote::before {
    content: "\f6b0";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: 
color-mix(in srgb, var(--accent-color), transparent 50%);
    font-size: 26px;
    line-height: 0;
}
.testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
}

/*----------------------Porfolio--------------------------*/
.portfolio .portfolio-filters {
    padding: 0 0 20px 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.portfolio .portfolio-filters li:first-child {
    margin-left: 0;
}
.portfolio .portfolio-filters li:hover, .portfolio .portfolio-filters li.filter-active {
    color: var(--accent-color);
}
.portfolio .portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-content {
    background-color: var(--surface-color);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow: hidden;
}
.h-100 {
    height: 100% !important;
}
.portfolio .portfolio-content .portfolio-info {
    background-color: var(--background-color);
    border-top: 1px solid 
color-mix(in srgb, var(--default-color), transparent 90%);
    padding: 25px 20px;
    position: relative;
    z-index: 2;
}
.portfolio .portfolio-content .portfolio-info h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
}
.portfolio .portfolio-content .portfolio-info h4 a {
    color: var(--heading-color);
    transition: 0.3s;
}

.portfolio .portfolio-content .portfolio-info p {
    color: 
color-mix(in srgb, var(--default-color), transparent 30%);
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
}

/*-----------------------------team------------------------*/
.team .member {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
}
.team .member img {
    border-radius: 15px;
    overflow: hidden;
}
.team .member h4 {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 20px;
}
.team .member span {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: 
color-mix(in srgb, var(--default-color), transparent 40%);
}
.team .member .social {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team .member .social a {
    color: 
color-mix(in srgb, var(--default-color), transparent 60%);
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid 
color-mix(in srgb, var(--default-color), transparent 60%);
}
/*-------------------------------Percing--------------------------------------------- */
.pricing .section-title {
    margin-bottom: 40px;
}
.pricing .pricing-item {
    background-color: var(--surface-color);
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: relative;
    border-radius: 15px;
}
.pricing h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}
.pricing .icon {
    margin: 30px auto 20px auto;
    width: 70px;
    height: 70px;
    background: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform-style: preserve-3d;
}

.pricing .icon::before {
    position: absolute;
    content: "";
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background: 
color-mix(in srgb, var(--accent-color), transparent 80%);
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}
.pricing .icon i {
    color: var(--background-color);
    font-size: 28px;
    transition: ease-in-out 0.3s;
    line-height: 0;
}
.bi-box::before {
    content: "\f1c8";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pricing .icon::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 102px;
    border-radius: 50%;
    background: 
color-mix(in srgb, var(--accent-color), transparent 90%);
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-2px);
}
.pricing h4 sup {
    font-size: 28px;
}
sup {
    top: -.5em;
}
sub, sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}
.pricing h4 {
    font-size: 48px;
    color: var(--accent-color);
    font-weight: 700;
    font-family: var(--heading-font);
    margin-bottom: 25px;
    text-align: center;
}
.pricing h4 span {
    color: 
color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 18px;
    font-weight: 400;
}
.pricing ul {
    padding: 20px 0;
    list-style: none;
    color: 
color-mix(in srgb, var(--default-color), transparent 20%);
    text-align: left;
    line-height: 20px;
}
.pricing ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.bi-check::before {
    content: "\f26e";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pricing ul i {
    color: #059652;
    font-size: 24px;
    padding-right: 3px;
}
.pricing ul .na {
    color: 
color-mix(in srgb, var(--default-color), transparent 70%);
}
.pricing ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.bi-x::before {
    content: "\f62a";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pricing ul .na i {
    color: 
color-mix(in srgb, var(--default-color), transparent 70%);
}
.pricing ul .na span {
    text-decoration: line-through;
}

.pricing .buy-btn {
    color: 
color-mix(in srgb, var(--default-color), transparent 20%);
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    border: 1px solid 
color-mix(in srgb, var(--default-color), transparent 80%);
    transition: none;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--heading-font);
    transition: 0.3s;
}

.pricing .featured {
    z-index: 10;
    border: 4px solid var(--accent-color);
}
.pricing .pricing-item {
    background-color: var(--surface-color);
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
    padding: 60px 40px;
    height: 100%;
    position: relative;
    border-radius: 15px;
}
a {
    /* color: var(--accent-color); */
    text-decoration: none;
    transition: 0.3s;

}

/* <!--------------------Faq-----------------------> */
.faq .content h3 {
    font-weight: 400;
    font-size: 34px;
}
strong {
    font-weight: bolder;
}
.faq .content p {
    font-size: 15px;
    color: 
color-mix(in srgb, var(--default-color), transparent 30%);
}
.faq .faq-container .faq-item {
    background-color: var(--surface-color);
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
/* .faq .faq-container .faq-active h3 {
    color: var(--accent-color);
} */

.faq .faq-container .faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
}
.faq .faq-container .faq-active h3 {
    color: var(--accent-color);
}
.faq .faq-container .faq-active .faq-toggle {
    transform: rotate(90deg);
    color: var(--accent-color);
}
.faq .faq-container .faq-item .faq-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    transition: 0.3s;
    cursor: pointer;
}
.bi-chevron-right::before {
    content: "\f285";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.faq .faq-container .faq-item h3 .num {
    color: var(--accent-color);
    padding-right: 5px;
}

/*----------------------Recent Post-------------------------- */
.recent-posts article {
    background: var(--surface-color);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.recent-posts .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}
.recent-posts .post-category {
    font-size: 16px;
    color: 
color-mix(in srgb, var(--default-color), transparent 50%);
    margin-bottom: 10px;
}
.recent-posts .title a{
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
    color: var(--heading-color);
}
.recent-posts .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.recent-posts .post-author {
    font-weight: 600;
    margin-bottom: 5px;
}
.recent-posts .post-date {
    font-size: 14px;
    color: 
color-mix(in srgb, var(--default-color), transparent 50%);
    margin-bottom: 0;
}
.recent-posts .post-date {
    font-size: 14px;
    color: 
color-mix(in srgb, var(--default-color), transparent 50%);
    margin-bottom: 0;
}

/*----------------------------------------Contact Section---------------------------------*/
.contact .info-container {
    background-color: var(--accent-color);
    height: 100%;
    padding: 20px;
}
.contact .php-email-form {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    padding: 30px;
}
.contact .info-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    color: var(--contrast-color);
    background-color: 
color-mix(in srgb, var(--contrast-color), transparent 90%);
}

.contact .info-item i {
    font-size: 20px;
    color: var(--contrast-color);
    background-color: 
color-mix(in srgb, var(--contrast-color), transparent 80%);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.contact .info-item h3 {
    color: var(--contrast-color);
    font-size: 20px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.contact .php-email-form input[type=text], .contact .php-email-form input[type=email], .contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: var(--surface-color);
    border-color: 
color-mix(in srgb, var(--default-color), transparent 80%);
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.php-email-form .loading {
    display: none;
    background: var(--surface-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}
.php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}
.contact .php-email-form button[type=submit] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

/*---------------------Footer--------------------------------*/
.footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    position: relative;
}
.accent-background {
    --background-color: #008374;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --accent-color: #ffffff;
    --surface-color: #00b6a1;
    --contrast-color: #ffffff;
}
.footer .footer-top {
    padding-top: 50px;
}
.footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
}
.footer .footer-about .logo span {
    color: var(--heading-color);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--heading-font);
}
.footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid 
color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: 
color-mix(in srgb, var(--default-color), transparent 50%);
    margin-right: 10px;
    transition: 0.3s;
}

.bi-twitter-x::before {
    content: "\f8db";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-links ul li:first-child {
    padding-top: 0;
}
.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer .footer-links ul a {
    color: 
color-mix(in srgb, var(--default-color), transparent 30%);
    display: inline-block;
    line-height: 1;
}
.footer .footer-contact p {
    margin-bottom: 5px;
}

.footer .copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid 
color-mix(in srgb, var(--default-color), transparent 90%);
}
.text-center {
    text-align: center !important;
}
.footer .copyright p {
    margin-bottom: 0;
}
.footer .credits a{
    margin-top: 4px;
    font-size: 13px;
}

@media screen and (max-width:768px) {
    .resp-hero {
        margin-top: 13rem;
    }
    .about{
        margin-top: 53rem;
    }
    .hero {
        height: 750px;
    }
    .colum{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        gap: 10px;
        /* border: 1px solid red !important; */
    }
    .flex{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap !important;
        gap: 10px;
    }
}